.orderForm .productsManage {
  display: flex;
  flex-direction: row;
}

.orderForm .pageTitle {
  margin-bottom: 1.5%;
}

.orderForm button:not(.qty) {
  box-shadow: none;
  border-radius: 3px;
  font-weight: 400;
  transition: .2s all;
  font-size: 1.5rem;
  background-color: white;
  color: #4776f0d1 !important;
  height: 38px;
  border: 1px solid #c2c2c2 !important;
  display: flex;
  align-items: center;
}

.orderForm button:not(.qty):hover {
  background-color: #4776f0;
  color: white !important;
  border-color: #4776f0 !important;
}